- @user ||= current_user
.stats
  %p
    = link_to following_user_path(@user) do
      %span#following.stat
        #{@user.following.count} following
  %p
    = link_to followers_user_path(@user) do
      %span#followers.stat
        = pluralize(@user.followers.count, "follower")
